<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <!-- Header -->
      <nav>
        <!-- Navbar -->
      </nav>
    </header>
    <main>
      <!-- Main Content -->
      <section>
        <!-- Page Title Heading -->
        <h1>Page Title</h1>
      </section>
      <section>
        <!-- Bestselling Products -->
        <article>Product One</article>
        <article>Product Two</article>
        <article>Product Three</article>
      </section>
      <section>
        <!-- Newest Arrivals -->
        <article>Product One</article>
        <article>Product Two</article>
        <article>Product Three</article>
      </section>
      <section>
        <!-- Recommended for you -->
        <article>Product One</article>
        <article>Product Two</article>
        <article>Product Three</article>
      </section>
    </main>
    <footer>
      <!-- Footer -->
      <div>
        <!-- Social Links -->
      </div>
      <div>
        <!-- Customer Support Links -->
      </div>
    </footer>
  </body>
</html>
